.App {
  background-color: #CDCBCF;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}



ul {
  list-style: none;
}

.nav-bar {
  text-align: center;
  background-color: red;
  height: 50px;
}

.nav-bar ul {
  padding-bottom: 2px;
  
}

.nav-bar li {
  display: inline;
  margin: 0 10%;
  font-size: 32px;
}

.carrito {
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.img {
  width: 100px;
  height: 100px;
  margin-right: 100px;
}

.carrito p {
  font-size: 100px;
}

.container {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  margin-top: 500px;  
  background-color: #F5B5FA;
  color: white;
}